/* 
   |---------------------------------------------------------------------------------------------|
   | Table of Contents --------------------------------------------------------------------------|
   |---------------------------------------------------------------------------------------------|
   |    * {}
   |    html, body {}
   |    body {}
   |        #header {}                                                             z-index = 1000|
   |            #sliver {}
   |                #sliver-header {}
   |                #masthead {}
   |        #page-content {}
   |            .table-viewport {}
   |                .sort-wrapper {}
   |                    .table-title {}
   |                    .sort-dropdown {}
   |                        .sort-button {}
   |                        #dropdown-items {}                                     z-index =  750|    
   |                            .sort-option {} :hover :active
   |                            .hide {}
   |                table {}
   |                    tr {} :first-child :not(:last-child) :hover                z-index =  500|
   |                        th {}
   |                        th, td {}
   |        #footer {}
   |---------------------------------------------------------------------------------------------|
*/

/*----------------------------------------------------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*----------------------------------------------------------------------------------------------*/
html, body { 
    height: 100%; 
    width: 100%;
    overflow-y: auto;
}

/*----------------------------------------------------------------------------------------------*/
body { 
    background: #ffffff;
}

/*----------------------------------------------------------------------------------------------*/
#header {
    top: 0;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1000;
}

#sliver {
    top: 0;
    width: 100%;
    height: 21px;
    background-color: #01321e;
    border-bottom: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sliver-header {
    height: 11px;
    font-size: 11px;
    letter-spacing: .5em;
    color: #1f7c47;
}

#masthead {
    top: 21px;
    width: 100%;
    height: 145px;
    background-color: #3a4955;
}

/*----------------------------------------------------------------------------------------------*/
#page-content {
    margin-top: 166px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

/*----------------------------------------------------------------------------------------------*/
.table-viewport {
    display: grid;
    grid-template-rows: 1fr auto;
    border: 1px solid #f47321;
    border-radius: 4px;
    padding: 50px;
    margin: 50px;
    min-width: 1000px;
    max-width: 1500px;
}

/*----------------------------------------------------------------------------------------------*/
.sort-wrapper {
    display: flex;
    justify-content: flex-start;
}

/*----------------------------------------------------------------------------------------------*/
.table-title {
    margin: 0 1rem 10px 0; 
    align-self: center;
}

.sort-dropdown {
    display: inline-block;
    justify-content: flex-end;
    margin: 0 0 10px 0;
}

/*----------------------------------------------------------------------------------------------*/
.sort-button {
    width: 100px;
    height: 2rem;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid lightgray;
}

.sort-button:hover {
    background-color: lightgray;
}

.sort-button:active {
    background-color: darkgray;
}

#dropdown-items {
    list-style: none;
    position: absolute;
    z-index: 750;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 20%), 0 8px 10px 1px rgba(0 ,0 ,0 , 14%), 0 3px 14px 2px rgba(0, 0, 0, 12%);
}

/*----------------------------------------------------------------------------------------------*/
.sort-option {
    color: black;
    height: 2rem;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1.25rem 0.5rem;
}

.sort-option:hover {
    background-color: lightgray;
    cursor: pointer;
}

.sort-option:active {
    background-color: darkgray;
}

.hide {
    display: none;
}

/*----------------------------------------------------------------------------------------------*/
table {
    display: grid;
    width: 100%;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 20%), 0 8px 10px 1px rgba(0 ,0 ,0 , 14%), 0 3px 14px 2px rgba(0, 0, 0, 12%);
    max-height: 497px;
    overflow-y: auto;
}

tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(3rem, auto);
}

tr:first-child {
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 500;
}

tr:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

tr:hover {
    background-color: lightgray;
}

th {
    min-height: 3.5rem;
    position: sticky;
    top: 0px;
    z-index: 500;
}

th, td {
    padding-left: 1.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

/*----------------------------------------------------------------------------------------------*/
#footer {
    width: 100%;
    height: 265px;
    background-color: #3a4955;
}